<section class="hero-section">
  <div class="container-fluid text-center">
    <h1>Kaushal Darpan </h1>
    <!--<p>JEE(Main) 2025</p>-->
  </div>
</section>




<div class="container-xl overview-section" style="padding-bottom:0;">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 text-center">
      <div class="card memberBox">
        <div class="card-body text-center">
          <img src="/assets/home/img/members/shriBhajanLalSharma.png">
          <h4>Honourable Chief Minister <br> Rajasthan</h4>
          <h5>Shri Bhajan Lal Sharma</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 text-center">
      <div class="card memberBox">
        <div class="card-body text-center">
          <img src="/assets/home/img/members/PCBairwa.png">
          <h4>Honourable Deputy Chief Minister and Minister of Technical Education</h4>
          <h5>Dr.Prem Chand Bairwa</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 text-center">
      <div class="card memberBox">
        <div class="card-body text-center">
          <img src="/assets/home/img/members/BhanuPrakshJi.jpeg">
          <h4>Secretary, Higher &amp; Tech. Education Department</h4>
          <h5> Shri Bhanu Prakash Yeturu </h5>
        </div>
      </div>
    </div>
    <!--<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3 text-center">
      <div class="card memberBox">
        <div class="card-body text-center">
          <img src="/assets/home/img/members/Directorsir.jpg">
          <h4>Director, Technical Education (Polytechnic)</h4>
          <h5> Shri Anshu Kumar Sahgal </h5>
        </div>
      </div>
    </div>-->
  </div>
</div>

<!--<section class="overview-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <a class="card-box" href="">
          <h3>Placement <span>40,689</span></h3>
          <img class="img-fluid" src="/assets/KD1/images/home-icon.svg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4">
        <a class="card-box" href="">
          <h3>Active Exams <span>10293</span></h3>
          <img class="img-fluid" src="/assets/KD1/images/exam.svg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4">
        <a class="card-box" href="">
          <h3>Active Admissions<span>10293</span></h3>
          <img class="img-fluid" src="/assets/KD1/images/admission.svg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4">
        <a class="card-box" href="">
          <h3>Upcoming Admissions <span>10293</span></h3>
          <img class="img-fluid" src="/assets/KD1/images/upcoming.svg" alt="">
        </a>
      </div>

    </div>
  </div>
</section>-->

<section class="active-action-man">
  <div class="container">
    <div class="outr-box">
      <div class="row  ">
        <!--<div class="col-md-7">
          <nav>
            <div class="nav nav-tabs p-0" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                      data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                      aria-selected="true">
                Active Examinations
              </button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                      data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                      aria-selected="false">
                Upcoming Examinations
              </button>
           <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
              data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
              aria-selected="false">Recruitments</button>
          </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel"
                 aria-labelledby="nav-home-tab">
              <table class="table-div">
                <thead>
                  <tr>
                    <th>Recruitment Name</th>
                    <th>URL</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                 aria-labelledby="nav-profile-tab">
              <table class="table-div">
                <thead>
                  <tr>
                    <th>Recruitment Name</th>
                    <th>URL</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                 aria-labelledby="nav-contact-tab">
              <table class="table-div">
                <thead>
                  <tr>
                    <th>Recruitment Name</th>
                    <th>URL</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Examination Schedule</td>
                    <td><a href="https://kaushaldarpan.devitsandbox.com/assets/kd1/index.html">www.exam.gov.in</a></td>
                    <td>
                      <a href="">
                        <img class="img-fluid" src="/assets/KD1/images/detail-1.svg"
                             alt="">
                      </a> <a href="">
                        <img class="ms-2 img-fluid"
                             src="/assets/KD1/images/clock-icon.svg" alt="">
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>-->
        <div class="col-md-5">
          <div class="outr-box h-100">
            <h2>Active & Upcoming Examinations</h2>
            <div id="chart"></div>
            <!--<highcharts-chart [Highcharts]="Highcharts"
                              [options]="chartOptions"
                              style="width: 100%; height: 400px; display: block;"></highcharts-chart>-->
          </div>
        </div>
        <!--<div class="col-md-6">
          <div class="outr-box h-100">
            <h2>Active & Upcoming Examinations</h2>
            <div id="marquee">
              <div style="height: 253px; overflow: hidden; position: relative;">
                <div style="position: absolute; width: 100%; animation: scroll-up 12s linear infinite;">
                  <div class="alert alert-warning">News: Important Update</div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</section>

<section class="exam-box">
  <div class="container">
    <nav>
      <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
        <button class="nav-link" id="nav-dte-tab" data-bs-toggle="tab" data-bs-target="#nav-dte"
                type="button" role="tab" aria-controls="nav-dte" aria-selected="true">
          <div class="outr-box">
            <img class="img-fluid" src="/assets/KD1/images/det.png" alt="">
            <h3>DTE</h3>
            <p>(Department of Technical Education Rajasthan)</p>
          </div>
        </button>
        <button class="nav-link active" id="nav-bter-tab" data-bs-toggle="tab" data-bs-target="#nav-bter"
                type="button" role="tab" aria-controls="nav-bter" aria-selected="false">
          <div class="outr-box">
            <img class="img-fluid" src="/assets/KD1/images/det.png" alt="">
            <h3>BTER</h3>
            <p>(Board of Technical Education Rajasthan)</p>
          </div>
        </button>
        <button class="nav-link" id="nav-iti-tab" data-bs-toggle="tab" data-bs-target="#nav-iti"
                type="button" role="tab" aria-controls="nav-iti" aria-selected="false">
          <div class="outr-box">

            <img class="img-fluid" src="/assets/KD1/images/ITI.png" alt="">
            <h3>ITI</h3>
            <p>(Industrial Training Institute Rajasthan)</p>
          </div>
        </button>

        <!--<button class="nav-link" id="nav-dce-tab" data-bs-toggle="tab" data-bs-target="#nav-dce"
                type="button" role="tab" aria-controls="nav-dce" aria-selected="false">
          <div class="outr-box">

            <img class="img-fluid" src="/assets/KD1/images/DCE.png" alt="">
            <h3>DCE</h3>
            <p>(Department of College Education Rajasthan)</p>

          </div>
        </button>-->
      </div>
    </nav>
    <div class="tab-content " id="nav-tabContent">
      <div class="tab-pane fade active show" id="nav-bter" role="tabpanel"
           aria-labelledby="nav-bter-tab">
        <div class="objective-section">
          <div class="outr-box borderradius-l">
            <div class="">
              <img class="img-fluid" src="/assets/KD1/images/det.png" alt="">
              <h3>
                Board of Technical <br>
                Education Rajasthan
              </h3>

              <div class="col-md-12">
                <h3> सामान्य निर्देश (General Instructions) </h3>
                <h5 class="text-red"><b>Note: This application is best viewed using current versions of Firefox, Chrome at a screen resolution of 1024 x 768 or higher.This application will not work in Internet explorer Ver 11 and above.</b></h5>
                <h4>ऑनलाइन  परीक्षा  फार्म फीस के लिए दिशा-निर्देश और निर्देश</h4>

                <div class="row">
                  <div class="col-md-8">
                    <ol class="text-justify">
                      <li>राजकीय/निजी  संस्थानों के  परीक्षा  फीस राजस्थान सरकार के एकीकृत पोर्टल  sso.rajasthan.gov.in/E-mitra Kiosk  के माध्यम से ऑनलाइन ही भरे जायेंगे।</li>
                      <li>ऑनलाइन  परीक्षा फीस के लिए ई-मित्र पर व्यक्तिशः अथवा पोर्टल के द्वारा निर्धारित परीक्षा शुल्क  जमा करा सकतें है।</li>
                      <li> ( <span style="color:red;">*</span>  )लगी सभी प्रविष्टियां आवश्यक (mandatory) है, इनको पूर्ण किये बिना आवेदन पत्र सबमिट नहीं होगा।   </li>
                      <li class="text-red"> केवल मनोरंजन/अन्य किसी को परेशान करने/ ऑनलाइन प्रक्रिया को दूषित करने हेतु यह प्रपत्र भरने पर IT Act-2008 के अंतर्गत आप पर कार्यवाही की जा सकती है| याद रहे आपका IP Address दर्ज हो रहा है| </li>
                    </ol>
                  </div>
                  <div class="col-md-4">
                    <div id="callforhelp2" class="bg-maroon">

                      <h3>Examination Related Queries </h3>
                      <p>For Examination related queries and technical problems, please contact at</p>
                      <ul>
                        <li><i class="fa fa-envelope-o margin-r-5"></i> {{'dte_raj@yahoo.com'}}</li>
                        <li><i class="fa fa-phone margin-r-5"></i> 0291-2434395</li>
                        <li><i class="fa fa-fax margin-r-5"></i> Fax : 0291-2430398</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="button-row mt-4 d-flex gap-4">
                <a href="" class="btn-fil">Know More</a>
                <a href="https://sso.rajasthan.gov.in/signin" target="_blank" class="border-btn">Login to SSO</a>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    User Manual
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a href="/assets/KD1/images/Kaushal Darpan - Student.pptx" target="_blank" class="dropdown-item">Student User Manual</a></li>
                    <li><a href="/assets/KD1/images/Kaushal Darpan - Examination.pptx" target="_blank" class="dropdown-item">Examination User Manual</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="nav-dte" role="tabpanel" aria-labelledby="nav-dte-tab">
        <div class="objective-section">
          <div class="outr-box">
            <div class="">
              <img class="img-fluid" src="/assets/KD1/images/det.png" alt="">
              <h3>
                Department of <br>
                Technical Education Rajasthan
              </h3>
              <div class="row">
                <div class="col-md-8">
                  <p>To enhance the competitiveness of State's technical manpower to global standards by imparting high quality & state of art Technical Education and Training to all sections of the society.</p>
                </div>
                <div class="col-md-4">
                  <div id="callforhelp2" class="bg-maroon">

                    <h3>Admission Related Queries </h3>
                    <p>For Admission related queries and technical problems, please contact at</p>
                    <ul>
                      <li><i class="fa fa-envelope-o margin-r-5"></i> {{'dte_raj@rajasthan.gov.in'}}</li>
                      <li><i class="fa fa-phone margin-r-5"></i> 0291-2434395</li>
                      <li><i class="fa fa-fax margin-r-5"></i> Fax : 0291-2430398</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="button-row mt-4 d-flex gap-4">
                <a href="" class="btn-fil">Know More</a>
                <a href="https://sso.rajasthan.gov.in/signin" target="_blank" class="border-btn">Login to SSO</a>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    User Manual
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a href="#" target="_blank" class="dropdown-item">Student User Manual</a></li>
                    <li><a href="#" target="_blank" class="dropdown-item">Admission User Manual</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="nav-iti" role="tabpanel" aria-labelledby="nav-iti-tab">
        <div class="objective-section">
          <div class="outr-box" style="border-radius: 16px 0px 16px 16px !important; width: calc(100% - 0px);">
            <div class="">
              <img class="img-fluid" src="/assets/KD1/images/ITI.png" alt="">
              <h3>
                ITI Rajasthan <br>
                Industrial Training Institute
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quisquam
                saepe voluptatem aut error sapiente, ea aspernatur sint, explicabo, qui
                officia? Placeat doloribus quasi eveniet maiores ab accusamus dignissimos
                sit.
              </p>
              <div class="button-row mt-4 d-flex gap-4">
                <a href="" class="btn-fil">Know More</a>
                <a href="https://sso.rajasthan.gov.in/signin" target="_blank" class="border-btn">Login to SSO</a>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    User Manual
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a href="#" target="_blank" class="dropdown-item">Student User Manual</a></li>
                    <li><a href="#" target="_blank" class="dropdown-item">Admission User Manual</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="tab-pane fade" id="nav-dce" role="tabpanel" aria-labelledby="nav-dce-tab">
        <div class="objective-section">
          <div class="outr-box borderradius-r">
            <div class="">
              <img class="img-fluid" src="/assets/KD1/images/DCE.png" alt="">
              <h3>
                Department of <br>
                College Education Rajasthan
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quisquam
                saepe voluptatem aut error sapiente, ea aspernatur sint, explicabo, qui
                officia? Placeat doloribus quasi eveniet maiores ab accusamus dignissimos
                sit.
              </p>
              <div class="button-row mt-4 d-flex gap-4">
                <a href="" class="btn-fil">Know More</a>
                <a href="https://sso.rajasthan.gov.in/signin" target="_blank" class="border-btn">Login to SSO</a>
                <a href="" class="btn-fil">View User Manual</a>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>

<!--
<section class="client-logos">
    <div class="container">
        <div class="logos-main">
            <a href=""><img class="img-fluid" src="/assets/KD1/images/logo-2.png" alt=""></a>
            <a href=""><img class="img-fluid" src="/assets/KD1/images/logo-3.png" alt=""></a>
            <a href=""><img class="img-fluid" src="/assets/KD1/images/logo-4.png" alt=""></a>
            <a href=""><img class="img-fluid" src="/assets/KD1/images/logo-5.png" alt=""></a>
            <a href=""><img class="img-fluid" src="/assets/KD1/images/logo-6.png" alt=""></a>
        </div>
    </div>
</section> -->
<script>
  $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();

  });

</script>
