<head>
  <title>Home | Directorate of Technical Education Rajasthan, Jodhpur</title>
  <link href="/assets/home/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/home/css/Style.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<!--contact us-->
<div class="container-fluid topBar bg-white">
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-start align-items-center flex-wrap contactInfo">
        <p class="m-0"><i class="fa fa-envelope-o"></i>&nbsp;dte_raj&#64;rajasthan.gov.in</p>
        <p class="m-0 ms-3"><i class="fa fa-map-marker"></i>&nbsp;W-6, Residency Road, Jodhpur (Rajasthan) - 342032</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-end align-items-center flex-wrap socialInfo">
        <a href="javascript:void(0);">Contact Us</a>
        <ul class="d-flex">
          <li>
            <a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--/contact us-->
<!--home menues-->
<div class="container-fluid py-2 headerBar">
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-12 col-sm-12 col-12 logoBox d-flex align-items-center justify-content-between">
        <a routerLink="/" class="d-flex align-items-center">
          <img src="/assets/home/img/bter.jpg" alt="logo" class="pe-2" />
          <b>Directorate of Technical Education Rajasthan, Jodhpur</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-navicon"></i>
          </span>
        </button>
      </div>
      <div class="col-lg-1 col-md-12 col-sm-12 col-12">
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <div class="container-fluid headernav">
            <div class="collapse navbar-collapse p-0" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/allpost">Campus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/allpostlist">All Campus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/tpodetails">TPO</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/placement-data">Placement Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/citizensuggestion">Citizen Suggestion</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Index</a>
                </li>
              </ul>
              <div class="d-flex">
                <h3 class="m-0 display-8 f-800"><i class="bi bi-headset"></i>&nbsp;0291-2434395</h3>
              </div>

            </div>

          </div>
          <div class="d-block">
            <a class="login" routerLink="/login"></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--/home menues-->

<main>
  <!--just below render body-->
  <router-outlet></router-outlet>
</main>
<!--footer menues-->
<div class="container-fluid footerSection">
  <div class="container-xl">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <h3>Directorate Of Technical Education Rajasthan</h3>
        <p>
          The Directorate of Technical Education was set up in 1956 for the administration and development of Technical Education in the State of Rajasthan. The department is now managing 48 Government Polytechnic Colleges (40 Co-ed & 08 Women), 108 Unaided Private Polytechnic Colleges.
        </p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ps-5  mb-3">
        <h3>Quick Link</h3>
        <ul class="footerUlLink">
          <li><a href="javascript:void(0);">Apply For NOC</a></li>
          <!--<li><a href="javascript:void(0);">ITI ONLINE MARKING</a></li>
          <li><a href="javascript:void(0);">ITI INSPECTION</a></li>-->
          <li><a href="javascript:void(0);">DTE Admission</a></li>
          <!--<li><a href="javascript:void(0);">ITI Examination</a></li>-->
          <li><a href="javascript:void(0);">Placements &amp; Training Application</a></li>
          <!--<li><a href="javascript:void(0);">ITI Inventory Management</a></li>-->
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <h3>Contact us</h3>
        <p><i class="fa fa-envelope-o"></i>&nbsp;dte_raj&#64;rajasthan.gov.in</p>
        <p><i class="fa fa-map-marker"></i>&nbsp;W-6, Residency Road, Jodhpur (Rajasthan) - 342032</p>
        <p><i class="fa fa-phone"></i>&nbsp;0291-2434395</p>
        <div class="clearfix"></div>
        <ul class="d-flex footerSocial">
          <li>
            <a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12  mb-3">
        <h3>Nodal Officer</h3>
        <p><i class="fa fa-user-o"></i>&nbsp;<b>Mr. Ajay Agarwal</b></p>
        <p><i class="fa fa-briefcase"></i>&nbsp;Assistant Director</p>
        <p><i class="fa fa-envelope-o"></i>&nbsp;dte_raj&#64;rajasthan.gov.in</p>
        <p><i class="fa fa-phone"></i>&nbsp;0291-2430398</p>
      </div>
    </div>
  </div>
  <div class="container-xl copyrightSection">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <script>document.write(new Date().getFullYear())</script> © DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN
      </div>
    </div>
  </div>
</div>
<!--/footer menues-->
