<head>
  <title>Dashboard | DTE</title>
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <!-- Icons css -->
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
</head>

<form [formGroup]="LoginForm" class="form-horizontal" >
  <div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mb-6 flex justify-center" style="margin-top:100px">
    <a href="javascript:void(0);" class="flex logoTxt login">
      <img src="assets/images/logo.png" alt="logo" class="flex h-12" />
      <b>DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN</b>
    </a>
    <div class="card tab-panels">
      <div class="card-body p-5">
        <div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6">

          <div>
            <label for="txtuserName" class="text-gray-800 text-sm font-medium inline-block mb-2">SSOID <span class="StarMarking">*</span></label>


            <input type="text" class="form-input" id="txtUserID" placeholder="Enter User Name" name="txtUserID" [(ngModel)]="UserName" formControlName="txtUserID"
                   (keyup.enter)="GotoPassword()">
                   
            <!-- <div *ngIf="isSubmitted&&form.txtUserID.errors" class="text-danger">
              <p *ngIf="form.txtUserID.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
            </div> -->

          </div>
          <div>
            <label for="txtPassword" class="text-gray-800 text-sm font-medium inline-block mb-2">Password <span class="StarMarking">*</span></label>

            <input type="password" class="form-input" id="txtPassword" placeholder="Enter Your Password" name="txtPassword" [(ngModel)]="Password" formControlName="txtPassword"
                   (keyup.enter)="Login()">

            <!-- <div *ngIf="isSubmitted&&form.txtPassword.errors" class="text-danger">
              <p *ngIf="form.txtPassword.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
            </div> -->
          </div>

          <!--<div>
            <label for="ddldepartmentSelect" class="text-gray-800 text-sm font-medium inline-block mb-2">Department <span class="StarMarking">*</span></label>
            <select class="form-select" id="ddldepartmentSelect" [(ngModel)]="Department" formControlName="ddldepartmentSelect">
              <option value="0">--Choose Department--</option>
              <option value="1">BTER</option>
              <option value="2">ITI</option>
              <option value="3">DCE</option>
            </select>-->
          <!--<div *ngIf="isSubmitted&&form.ddldepartmentSelect.errors" class="text-danger">
            <p *ngIf="form.ddldepartmentSelect.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
          </div>-->
          <!--<div *ngIf="LoginForm.get('ddldepartmentSelect').hasError('required') && LoginForm.get('ddldepartmentSelect').touched" class="text-danger">
              This field is required.
            </div>
          </div>-->

          <div>
            <button type="submit" class="btn bg-info text-white" (click)="Login()">Login</button>
            <!--<button type="button" class="btn bg-info text-white" (click)="CheckUserExists()">CheckUserExists</button>-->
            <!--<button href="javascript:void(0);" type="button" class="btn bg-info text-white" (click)="UserRequest(MyModel_Action)">Login</button>-->
            <!--test sso core service-->
            <button style="display:none" type="button" class="btn bg-info text-white" (click)="SSOLogin_Dummy('http://localhost:5230/api/SSO/SSOLandingThenRedirectToApp')">SSO Login</button>
            <!--<button type="button" class="btn bg-info text-white" (click)="SSOLogin_Dummy('http://localhost:5230/api/SSO/SSOLandingThenRedirectToApp')">SSO Login</button>-->
            <button style="display:none"  type="button" class="btn bg-info text-white" (click)="EmitraLOgin_Dummy(appsettingConfig.apiURL + 'sso/LandingPage')">Emitra Login</button>
            <button style="display:none"  type="button" class="btn bg-info text-white" (click)="EmitraLOgin_Dummy('https://kdhteapi.rajasthan.gov.in/api/api/sso/LandingPage')">LIVE EMITRA Login</button>
  <!--<button type="button" class="btn bg-info text-white" (click)="SSOLogin_Dummy('http://localhost:5230/api/SSO/SSOLogout')">SSO logout</button>
  <button type="button" class="btn bg-info text-white" (click)="SSOLogin_Dummy('http://localhost:5230/api/SSO/SSOBackTo')">SSO Backto</button>-->
            <!--/test sso core service-->

          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <script>document.write(new Date().getFullYear())</script> © DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN
    </div>
  </div>
</form>


<ng-template #MyModel_Action let-modal class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">

  <!--<div class="modal-content">

    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b class="text-2xl"><i class="fa fa-plus"></i>&nbsp;Proceed With </b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body p-5">
        <div class="p-6">
          <div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mb-8">
            <div>
              <h2 class="text-center text-4xl">Admission Apply For</h2>
            </div>
          </div>
          <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 gap-6 loginBox mt-8">

            <div type="button" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer" (click)="Login()">BTER</div>
            <div type="button" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">ITI</div>
            <div type="button" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">DCE</div>-->
  <!--<div type="button" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer" (click)="Login()">BTER<small>(BOARD OF TECHNICAL EDUCATION RAJASTHAN)</small></div>
  <div type="button" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">ITI <small>(INDUSTRIAL TRAINING INSTITUTE)</small></div>
  <div type="button" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">DCE <small>DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN</small></div>-->
  <!--</div>
        </div>
      </div>
    </div>

  </div>-->
  <!--<div class="card tab-panels" id="UserRequest">
    <div class="card-body p-5">
      <form [formGroup]="UserRequestFormGroup" class="form-horizontal">
        <div class="mb-8">
          <div class="flex justify-between items-center mb-3 p-3 py-2 bg-light">
            <b class="text-1xl-5"><i class="ti ti-plus"></i> Add User Request Form</b>
            <span class="text-danger">(* fields are mandatory)</span>
          </div>
          <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">
            <div>
              <label for="txtUserName" class="text-gray-800 text-sm font-medium inline-block mb-2">
                User Name<span class="StarMarking">*</span>
              </label>
              <input type="text" placeholder="User Name" class="form-input" id="txtUserName" name="txtUserName" formControlName="txtUserName"
                     [(ngModel)]="request.Name">-->
  <!--<div *ngIf="isSubmitted && _UserRequestFormGroup.txtUserName.errors" class="text-danger">
    <p *ngIf="_UserRequestFormGroup.txtUserName.errors.required">
      <i aria-hidden="true"></i> This field is
      required.!
    </p>
  </div>-->
  <!--</div>

  <div>
    <label for="txtUserEmail" class="text-gray-800 text-sm font-medium inline-block mb-2">
      User Email<span class="StarMarking">*</span>
    </label>
    <input type="email" placeholder="User Email" class="form-input" id="txtUserEmail" name="txtUserEmail"
           formControlName="txtUserEmail" [(ngModel)]="request.Email">-->
  <!--<div *ngIf="isSubmitted&&_UserRequestFormGroup.txtUserEmail.errors" class="text-danger">
    <p *ngIf="_UserRequestFormGroup.txtUserEmail.errors.required">
      <i aria-hidden="true"></i> This field is
      required .!
    </p>
  </div>-->
  <!--</div>

  <div>
    <label for="ddlDesignation" class="text-gray-800 text-sm font-medium inline-block mb-2">
      Designation<span class="StarMarking">*</span>
    </label>
    <select class="form-select" id="ddlDesignation" name="ddlDesignation" [(ngModel)]="request.DesignationID"
            formControlName="ddlDesignation">
      <option value="0" disabled>-- Select --</option>
      <option *ngFor="let item of DesignationMasterList" value="{{item.ID}}">{{item.Name}}</option>
    </select>-->
  <!--<div *ngIf="isSubmitted&&_UserRequestFormGroup.ddlDesignation.errors" class="text-danger">
    <p *ngIf="!_UserRequestFormGroup.ddlDesignation.errors.DropdownValidators">
      <i aria-hidden="true"></i>
      This field is required .!
    </p>
  </div>-->
  <!--</div>

  <div>
    <label for="txtAadhaarID" class="text-gray-800 text-sm font-medium inline-block mb-2">
      Aadhaar ID<span class="StarMarking">*</span>
    </label>
    <input type="text" placeholder="Aadhaar ID"class="form-input" id="txtAadhaarID" name="txtAadhaarID" formControlName="txtAadhaarID"
           [(ngModel)]="request.AadhaarID" maxlength="12">-->
  <!--<div *ngIf="isSubmitted&&_UserMasterFormGroup.txtAadhaarID.errors" class="text-danger">
    <p *ngIf="_UserMasterFormGroup.txtAadhaarID.errors.required">
      <i aria-hidden="true"></i> This field is
      required .!
    </p>

  </div>-->
  <!--</div>

  <div>
    <label for="txtSSOID" class="text-gray-800 text-sm font-medium inline-block mb-2">
      SSO ID<span class="StarMarking">*</span>
    </label>
    <input type="text" placeholder="SSO ID" class="form-input" id="txtSSOID" name="txtSSOID" formControlName="txtSSOID"
           [(ngModel)]="request.SSOID">-->
  <!--<div *ngIf="isSubmitted&&_UserMasterFormGroup.txtSSOID.errors" class="text-danger">
    <p *ngIf="_UserMasterFormGroup.txtSSOID.errors.required">
      <i aria-hidden="true"></i> This field is
      required .!
    </p>
  </div>-->
  <!--</div>

  <div>
    <label for="txtMobileNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
      Mobile No<span class="StarMarking">*</span>
    </label>
    <input type="text" placeholder="Mobile No" class="form-input" id="txtMobileNo" name="txtMobileNo" formControlName="txtMobileNo"
           [(ngModel)]="request.MobileNo" maxlength="10">-->
  <!--<div *ngIf="isSubmitted&&_UserRequestFormGroup.txtMobileNo.errors" class="text-danger">
    <p *ngIf="_UserRequestFormGroup.txtMobileNo.errors.required">
      <i aria-hidden="true"></i> This field is
      required .!
    </p>
  </div>-->
  <!--</div>


  <div>
    <label>Division<span class="StarMarking">*</span></label>
    <select formControlName="divisionID" class="form-select" id="divisionId" (change)="ddlDivision_Change()"
            [(ngModel)]="request.DivisionID">
      <option value="0">--Select--</option>
      <option *ngFor="let division of DivisionMasterList" [value]="division.ID">{{division.Name}}</option>

    </select>-->
  <!--<div *ngIf="isSubmitted && _UserRequestFormGroup.get('divisionID').errors" class="text-danger">
    <p *ngIf="_UserRequestFormGroup.get('divisionID').errors.required">
      <i aria-hidden="true"></i>This field is required.
    </p>
  </div>-->
  <!--</div>

  <div>
    <label>District<span class="StarMarking">*</span></label>
    <select formControlName="districtID" class="form-select" id="districtID" (change)="ddlDistrict_Change()"
            [(ngModel)]="request.DistrictID">
      <option value="0">--Select--</option>
      <option *ngFor="let item of DistrictMasterList" [value]="item.ID">
        {{item.Name}}
      </option>
    </select>-->
  <!--<div *ngIf="isSubmitted && _UserRequestFormGroup.get('districtID').errors" class="text-danger">
    <p *ngIf="_UserRequestFormGroup.get('districtID').errors.required">
      <i aria-hidden="true"></i>This field is required.
    </p>
  </div>-->
  <!--</div>

  <div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Institution: <span class="StarMarking">*</span></label>
    <select class="form-select" id="InstituteID" formControlName="InstituteID" [(ngModel)]="request.InstituteID">
      <option value="0">Choose Option</option>
      <option *ngFor="let item of InstituteList" [value]="item.InstituteID">{{item.InstituteName}}</option>
    </select>-->
  <!--<div *ngIf="_UserRequestFormGroup.InstituteID.hasError('required') && _UserRequestFormGroup.InstituteID.touched" class="text-danger">
    This field is required.
  </div>-->
  <!--</div>-->
  <!--<div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
    <label class="block">Status</label>
    <label class="inline-flex items-center cursor-pointer toggleCheckBox Active statusActiveInActive">
      <input class="sr-only peer" type="checkbox" id="Active" [(ngModel)]="request.ActiveStatus"
             formControlName="chkActiveStatus" onchange="js_StatusYesNoActiveInActive(this);">
      <span class="toggleIcon">
        <span class="toggleTitle"></span>
      </span>
    </label>

  </div>-->
  <!--</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="flex align-center flexBtn mt-7 ">
            <button type="button" id="btnSave" (click)="SaveData()" class="btn bg-info text-white">
              <i class="ti ti-device-floppy"></i> Save
            </button>
            <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
              <i class="ti ti-refresh"></i> Reset
            </button>

            <button type="button" id="btnGoback" (click)="CloseModalPopup()" class="btn bg-info text-white">
              GO-Back
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>-->

</ng-template>
