

<div class="container-fluid sliderSection p-0">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="contentBoxSlider">
          <h3>Welcome to Directorate of Technical Education, Rajasthan</h3>
          <h1>The Campus Program</h1>
          <p class="text-white">
            The Directorate of Technical Education was set up in 1956 for the administration and development
            of Technical Education in the State of Rajasthan. The department is now managing 48 Government
            Polytechnic Colleges (40 Co-ed & 08 Women), 108 Unaided Private Polytechnic Colleges.
          </p>
          <div class="d-flex buttonslider mt-5">
            <a routerLink="allpost" class="btn btn-warning">Read More</a>
          </div>
        </div>
        <img src="/assets/home/img/slider.jpg" class="d-block w-100" alt="slide 1" />
      </div>
      <div class="carousel-item">
        <div class="contentBoxSlider">
          <h3 class="text-capitalize">Welcome to directorate of technical education, rajasthan</h3>
          <h1>The Campus Program</h1>
          <p class="text-white">
            The Directorate of Technical Education was set up in 1956 for the administration and development
            of Technical Education in the State of Rajasthan. The department is now managing 43 Government
            Polytechnic Colleges (35 Co-ed & 08 Women), 108 Unaided Private Polytechnic Colleges.
          </p>
          <div class="d-flex buttonslider mt-5">
            <a routerLink="allpost" class="btn btn-warning">Read More</a>
          </div>
        </div>
        <img src="/assets/home/img/slider.jpg" class="d-block w-100" alt="slide 2" />
      </div>
      <div class="carousel-item">
        <div class="contentBoxSlider">
          <h3 class="text-capitalize">Welcome to directorate of technical education, rajasthan</h3>
          <h1>The Campus Program</h1>
          <p class="text-white">
            The Directorate of Technical Education was set up in 1956 for the administration and development
            of Technical Education in the State of Rajasthan. The department is now managing 43 Government
            Polytechnic Colleges (35 Co-ed & 08 Women), 108 Unaided Private Polytechnic Colleges.
          </p>
          <div class="d-flex buttonslider mt-5">
            <a routerLink="allpost" class="btn btn-warning">Read More</a>
          </div>
        </div>
        <img src="/assets/home/img/slider.jpg" class="d-block w-100" alt="slide 3" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<div class="container-fluid MemberSection position-relative">
  <img src="/assets/home/img/shape2.png" class="position-absolute shape1 left_image_bounce" />
  <div class="container-xl">
    <!--<div class="row justify-content-center mb-5">
        <div class="col-lg-8 col-md-10 col-sm-12 col-12 text-center">
            <h3 class="display-5 f-800">Department Members</h3>
            <p>
                The Directorate of Technical Education was set up in 1956 for the administration and development
                of Technical Education in the State of Rajasthan.
            </p>
        </div>
    </div>-->
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3 text-center">
        <div class="card memberBox">
          <div class="card-body text-center">
            <img src="/assets/home/img/members/shriBhajanLalSharma.png" />
            <h4>Honourable Chief Minister <br /> Rajasthan</h4>
            <h5>Shri Bhajan Lal Sharma</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3 text-center">
        <div class="card memberBox">
          <div class="card-body text-center">
            <img src="/assets/home/img/members/PCBairwa.png" />
            <h4>Honourable Deputy Chief Minister and Minister of Technical Education</h4>
            <h5>Dr.Prem Chand Bairwa</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3 text-center">
        <div class="card memberBox">
          <div class="card-body text-center">
            <img src="/assets/home/img/members/BhanuPrakshJi.jpeg" />
            <h4>Secretary, Higher & Tech. Education Department</h4>
            <h5>
              Shri Bhanu Prakash Yeturu
            </h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3 text-center">
        <div class="card memberBox">
          <div class="card-body text-center">
            <img src="/assets/home/img/members/Directorsir.jpg" />
            <h4>Director, Technical Education (Polytechnic)</h4>
            <h5>
              Shri Anshu Kumar Sahgal
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid AboutSection position-relative" style="background: #deebff !important;">
  <img src="/assets/home/img/shape1.png" class="position-absolute shape2 left_image_bounce" />
  <div class="container-xl position-relative" style="z-index:9999">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <h4 class="text-primary">Career</h4>
        <h2 class="display-5 f-800">The College Campus Placement Program</h2>

        <div class="card">
          <div class="card-body bg-warning impActivities">
            <h4 class="mb-3">Common Guidelines For Students:</h4>
            <ul>
              <li>Skill Development, Resume Building</li>
              <li>Mock Interviews</li>
              <li>Networking Opportunities</li>
              <li>Research Companies</li>
              <li>Personal Branding, Dressing Professionally</li>
              <li>Follow-up</li>
              <li>Stay Organized</li>
              <li>Seek Guidance</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 col-12">
        <p>
          The college campus placement program serves as a pivotal bridge between academic learning and professional success, providing students with invaluable opportunities to connect with industry leaders and potential employers. Through a series of workshops, networking events, and mock interviews, students are equipped with essential skills that enhance their employability.
        </p>
        <div class="card">
          <div class="card-body">
            <marquee direction="up" scrollamount="5" height="352" onMouseOver="this.stop()" onMouseOut="this.start()">
              <ul class="marqueeUl">
                <!-- <li class="marqueeUlCampus" *ngFor="let item of CampusPostList;">
                  <div class="d-flex">
                    <div class="iconMarquee d-flex justify-content-center align-items-center">
                      <i class="fa fa-building-o"></i>
                    </div>
                    <div class="contentMarquee">
                      <b class="d-block">{{item.PostNo}}</b>
                      <p>{{item.CompanyName}}</p>
                      <div class="d-flex justify-content-between w-100 flex-wrap">
                        <span class="bold">No. of Vacancy: </span><span [innerHtml]="item.JobDescription"></span>
                        <span class="bold">Campus Orgnize Date: <i class="fa fa-calendar-o"></i>&nbsp;{{item.CampusFromDate}}</span><br />
                        <span class="bold">Campus Orgnize By: {{item.TPOCollegeName}}</span>
                      </div>
                      <div class="d-flex justify-content-end w-100">
                        <a [routerLink]="'/singlepost'" [queryParams]="{post:item.PostID}" class="btn btn-sm btn-primary text-white p-1 me-1" *ngIf="item.IsShowMoreDetails==true">View More Details</a>
                        <a href="https://sso.rajasthan.gov.in/" target="_blank" class="btn btn-sm btn-info text-white p-1">Give Consent</a>
                      </div>
                    </div>
                  </div>
                </li> -->
              </ul>
            </marquee>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-4 mb-2">

        <a routerLink="/allpost" class="btn btn-primary">View All Campus</a>

      </div>
    </div>

    <!--<div class="row mt-2 justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12 mt-3" *ngFor="let item of PlacementCompanyList;">
      <a href="{{item.Website}}" target="_blank" class="d-block">
        <img src="{{appsettingConfig.StaticFileRootPathURL}}{{_GlobalConstants.PlacementCompanyFolder}}/{{item.Logo}}" class="img-fluid img-thumbnail" />
      </a>
    </div>
  </div>-->

  </div>
</div>

<div class="container-fluid AboutSection position-relative">
  <img src="/assets/home/img/shape1.png" class="position-absolute shape2 left_image_bounce" />
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <h4 class="text-primary">About us</h4>
        <h2 class="display-5 f-800">The Education key of Success</h2>

        <div class="card">
          <div class="card-body bg-warning impActivities">
            <h4 class="mb-3">Important Activities are:</h4>
            <ul>
              <li>Management of existing Government Polytechnic colleges</li>
              <li>Opening of new Government Polytechnic colleges</li>
              <li>Issuing temporary and permanent NOC to open new Private Polytechnic Colleges</li>
              <li>Distribution of various scholarships to students of Technical Education</li>
              <li>Ensuring quality Technical Education in the State</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <p>
          The Directorate of Technical Education was set up in 1956 for the administration and development
          of Technical Education in the State of Rajasthan. The department is now managing 43 Government
          Polytechnic Colleges (35 Co-ed & 08 Women), 108 Unaided Private Polytechnic Colleges. The
          administration is headed by the Director, Technical Education, Government of Rajasthan, Jodhpur.
        </p>
        <div class="departmentImg"></div>
      </div>
    </div>
  </div>
</div>

