<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Student Enquiry</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <span class="text-slate-700">Enquiry</span>
      <i class="material-symbols-rounded text-xl text-slate-500">chevron_right</i>
      <span class="text-slate-700">Add Enquiry</span>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body p-5">
      <form [formGroup]="enquiryForm" class="p-4">
    <!-- ================= BASIC DETAILS ================= -->
    <div class="mb-6 border rounded">
      <div class="bg-blue-600 text-white px-4 py-2 font-semibold rounded-t">
        Basic Details
      </div>


        <div class="p-4 grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">

          <!-- <input class="form-input" formControlName="enquiryNumber" placeholder="Enquiry Number" />
          <input class="form-input" formControlName="tokenNo" placeholder="Form / Token No" /> -->

          <input class="form-input" formControlName="firstName" placeholder="First Name *" />
          <input class="form-input" formControlName="middleName" placeholder="Middle Name" />
          <input class="form-input" formControlName="lastName" placeholder="Last Name" />

          <input class="form-input" formControlName="fatherName" placeholder="Father Name *" />
          <input class="form-input" formControlName="motherName" placeholder="Mother Name *" />

          <input class="form-input" formControlName="mobile" placeholder="Mobile *" />
          <input class="form-input" formControlName="email" placeholder="Email *" />

          <select class="form-input" formControlName="gender">
            <option value="">Gender *</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Others</option>
          </select>

          <select class="form-input" formControlName="caste">
            <option value="">-- Select Caste --</option>

            <option *ngFor="let item of castes" [value]="item.CommonMasterId">
              {{ item.Title }}
            </option>

          </select>

          <select class="form-input" formControlName="category">

            <option value="">-- Select Category --</option>

            <option *ngFor="let item of categories" [value]="item.CommonMasterId">
              {{ item.Title }}
            </option>

          </select>

          <select class="form-input" formControlName="stateId">
            <option value="">State *</option>
            <option value="1">Rajsthan</option>
            <option value="2">Maharastra</option>
          </select>

          <select class="form-input" formControlName="districtId">
            <option value="">District *</option>
            <option value="1">Jhunjhunu</option>
            <option value="2">Jaipur</option>
            <option value="3">Mumbai</option>
            <option value="4">Pune</option>
          </select>
 
          <input type="file" class="form-input" formControlName="profile" (change)="onFileChange($event)" accept="image/*"/>
<div *ngIf="previewUrl">
  <p>{{ uploadedFileName }}</p>
  <img
    [src]="previewUrl"
    alt="Thumbnail"
    width="120"
    height="120"
    style="object-fit: cover"
  />
</div>
          <input class="form-input" formControlName="tenthBoard" placeholder="10th Board Name" />
          <input class="form-input" formControlName="tenthPercentage" placeholder="10th Percentage" />

          <input class="form-input" formControlName="twelfthBoard" placeholder="12th Board Name" />
          <input class="form-input" formControlName="twelfthPercentage" placeholder="12th Percentage" />

           <input class="form-input" formControlName="fatherMobile" placeholder="Father Mobile No." />
         
           <textarea class="form-input" name="" id="" placeholder="Address"></textarea>

        </div>
      
    </div>

    <div class="mb-6 border rounded">
      <div class="bg-blue-600 text-white px-4 py-2 font-semibold rounded-t">
        Enquiry Details
      </div>
        <div class="p-4 grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
          <select class="form-input" formControlName="enquiryClass">
            <option value="">Enquiry for Class *</option>
            <option *ngFor="let item of classType" [value]="item.ClassId">
              {{ item.ClassName }}
            </option>
          </select>

          <select class="form-input" formControlName="enquiryType">

            <option value="">-- Select Enquiry Type * --</option>

            <option *ngFor="let item of enquiryTypes" [value]="item.CommonMasterId">
              {{ item.Title }}
            </option>

          </select>

          <select class="form-input" formControlName="EnquiryTypeId">
            <option value="">-- Select Refrence Type --</option>
             <option *ngFor="let item of enquiryRefrenceType" [value]="item.CommonMasterId">
              {{ item.Title }}
            </option>
          </select>

          <textarea class="form-input" name="" id="" placeholder="Refrence Remark"></textarea>

        </div>
    </div>
    <!-- ================= ACTIVITY LOG ================= -->
    <div class="border rounded">
      <div class="bg-blue-600 text-white px-4 py-2 font-semibold rounded-t">
        Activity Log
      </div>

      <div class="p-4 grid md:grid-cols-3 grid-cols-1 gap-4">
        <textarea rows="3" class="form-input md:col-span-2" formControlName="remark" placeholder="Remark">
        </textarea>

        <div class="space-y-3">
          <select class="form-input" formControlName="enquiryStatus">
            <option value="">--Enqury Status--</option>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
          </select>

          <input type="date" class="form-input" formControlName="reminderDate" />
          <input class="form-input" formControlName="assignTo" placeholder="Assign To" />
          <!-- <input class="form-input" formControlName="closeReason" placeholder="Close Reason" /> -->
           
        </div>
      </div>

      <div class="flex justify-end gap-3 px-4 pb-4">
        <button type="button" class="btn bg-gray-400 text-white px-4 py-2 rounded">
          Cancel
        </button>
        <button type="button" class="btn bg-blue-600 text-white px-4 py-2 rounded" [disabled]="enquiryForm.invalid" (click)="SaveEnquiry()">
          Save Enquiry
        </button>
      </div>
    </div>
</form>
  </div>
</div>