.login {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 0px;
}
@media screen and (max-width: 768px) {
  .login {
    position: relative;
    width: 0px;
    height: 0px;
    top: 0px;
  }
}
