<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Dashboard</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">ITI</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700" aria-current="page">Dashboard</a>
    </div>
  </div>
</div>



<!-- <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light w-full pointer-event" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="true" aria-controls="multiCollapseExample2">
  <b class="text-1xl-5"><i class="ti ti-list"></i> Enrollment</b>  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="true" aria-controls="multiCollapseExample2"><i class="ti ti-chevron-down"></i></button>
</div>

<div class="collapse multi-collapse show" id="multiCollapseExample2">
  <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 gap-6 mb-6 allStaticse">
    <div *ngFor="let stat of viewAdminDashboardListEnrollment; let i = index">
      <div class="card" *ngIf="stat.ListType=='EnrollmentType'">
        <div class="p-5">

          <span class="material-symbols-rounded float-end text-3xl text-default-400">{{ stat.SRC }}</span>


          <h6 class="text-muted text-sm uppercase">{{ stat.TotalText }}</h6>


          <h3 class="text-2xl mb-3" data-plugin="counterup">{{ stat.TotalCount }}</h3>

          <a routerLink="/{{[stat.URL + '/' + stat.Status]}}" class="block w-full text-center gap-1.5 py-0.5 px-1.5 text-xs font-medium bg-success text-white rounded me-1">
            View All <i class="ti ti-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light w-full pointer-event" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
  <b class="text-1xl-5"><i class="ti ti-list"></i> Examination</b>

  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
    <!--<i class="ti ti-chevron-down"></i>-->
  </button>
</div>

<div class="collapse multi-collapse show" id="multiCollapseExample3">
  <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 gap-6 mb-6 allStatics">
    <!-- <div *ngFor="let stat of viewAdminDashboardListExamination; let i = index">
      <div class="card" *ngIf="stat.ListType=='ExaminationType'">
        <div class="p-5">
          <span class="material-symbols-rounded float-end text-3xl text-default-400">{{ stat.SRC }}</span>

          <h6 class="text-muted text-sm uppercase">{{ stat.TotalText }}</h6>

          <h3 class="text-2xl mb-3" data-plugin="counterup">{{ stat.TotalCount }}</h3>

          <a routerLink="/{{[stat.URL + '/' + stat.Status]}}" class="block w-full text-center gap-1.5 py-0.5 px-1.5 text-xs font-medium bg-success text-white rounded me-1">
            View All <i class="ti ti-chevron-right"></i>
          </a>
        </div>
      </div>
    </div> -->
  </div>
</div>



<!-- Collapsible Content -->

<div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light w-full cursor-pointer">
  <b class="text-1xl-5"><i class="ti ti-truck-delivery"></i> Dispatch</b>
  <!--<button class="btn btn-primary" type="button">
    <i class="ti ti-chevron-down"></i>
  </button>-->
</div>
<div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 gap-6 mb-6 allStatics">


  <div *ngFor="let stat of DashBoardDispatchList; let i = index">
    <div class="card">
      <div class="p-5">
        <!-- Icon -->
        <span class="material-symbols-rounded float-end text-3xl text-default-400">{{ stat.SRC }}</span>
        <!--ITI Answer Tracker Management-->
        <!-- Title -->
        <h6 class="text-muted text-sm uppercase">{{ stat.TotalText }}</h6>

        <!-- Count -->
        <h3 class="text-2xl mb-3" data-plugin="counterup">{{ stat.TotalCount }}</h3>

        <!-- View All Link -->
        <!--<button (click)="openDialog(stat)" class="block w-full text-center gap-1.5 py-0.5 px-1.5 text-xs font-medium bg-success text-white rounded me-1">
          View All <i class="ti ti-chevron-right"></i>
        </button>-->
        <a routerLink="/{{[stat.URL + '/' + stat.Status]}}" class="block w-full text-center gap-1.5 py-0.5 px-1.5 text-xs font-medium bg-success text-white rounded me-1">
          View All <i class="ti ti-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light w-full cursor-pointer">
  <b class="text-1xl-5"><i class="ti ti-list"></i>Invigilator Remuneration</b>
  <!--<button class="btn btn-primary" type="button">
    <i class="ti ti-chevron-down"></i>
  </button>-->
</div>
<div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 gap-6 mb-6 allStatics">
  <div *ngFor="let stat of invigilatorRemuneretionlist; let i = index">
    <div class="card" *ngIf="stat.ListType=='InvigilatorRemuneretion'">
      <div class="p-5">
        <!-- Icon -->
        <span class="material-symbols-rounded float-end text-3xl text-default-400">{{ stat.SRC }}</span>
        <!--ITI Answer Tracker Management-->
        <!-- Title -->
        <h6 class="text-muted text-sm uppercase">{{ stat.TotalText }}</h6>

        <!-- Count -->
        <h3 class="text-2xl mb-3" data-plugin="counterup">{{ stat.TotalCount }}</h3>

        <!-- View All Link -->
        <!--<button (click)="openDialog(stat)" class="block w-full text-center gap-1.5 py-0.5 px-1.5 text-xs font-medium bg-success text-white rounded me-1">
          View All <i class="ti ti-chevron-right"></i>
        </button>-->
        <a routerLink="/{{[stat.URL]}}" class="block w-full text-center gap-1.5 py-0.5 px-1.5 text-xs font-medium bg-success text-white rounded me-1">
          View All <i class="ti ti-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>

</div>



