mat-select {
  font-size: .9rem !important;
}

mat-label {
  font-size: .9rem !important;
}

mat-option {
  font-size: .9rem !important;
}

.mat-mdc-select-min-line {
  font-size: .9rem !important;
}

/*ul.MainSubMenu {
  display: none;
}

li.showChildMenu > ul.MainSubMenu {
  display: block;
}*/
